@import "../../styles/shared";

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  @include fontHeading3;
}

.stat {
  display: flex;
  flex-direction: column;
  margin-left: $marginDefault;
}

.graphContainer {
  height: 160px;
  margin: -$paddingDefault;
  margin-top: 0;
}