@import "../../styles/common";

@mixin card($width, $height) {
  @include shadow;
  width: $width;
  height: $height;
  background: $colorExtraLight;
  flex-grow: 1;
  margin: $cardMargin;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  @include card(calc(50% - 2*#{$cardMargin}), 323px);
}

.largeCard {
  @include card(calc(100% - 2*#{$cardMargin}), 400px);
}

.title {
  @include cardTitleFont;
}