@import "../../styles/common";

.page {
  @include contentGutters;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin: #{40px - $cardMargin} -$cardMargin;
  
  @media (max-width: 479px) {
    margin: #{20px - $cardMarginMobile} #{-$cardMarginMobile};
  }
}