@import "../../styles/shared";

.overviewContainer {
  display: flex;
  flex-direction: row;
  
  @media (max-width: $breakpointTablet) {
    flex-direction: column;
  }
}

.statContainer {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  @include fontHeading3;
  margin-bottom: 20px;
}

.graphContainer {
  margin: -$paddingDefault;
  margin-left: $paddingDefault;
  width: 100%;

  @media (max-width: $breakpointTablet) {
    margin: -$paddingDefault;
    margin-top: $paddingDefault;
    height: 200px;
    width: calc(100% + #{2*$paddingDefault});
  }
}

.statCategory {
  display: flex;
  flex-direction: row;
  border: none;
  border-right: 4px solid transparent;
  background: transparent;
  text-align: left;
  outline: none;
  border-bottom: 1px solid $colorForegroundSubtle;
  padding: 12px 0;
  transition: all ease 0.2s;
  
  &.active, &:hover, &:focus {
    &.cases {
      border-color: $colorCases;
    }

    &.admissions {
      border-color: $colorAdmissions;
    }

    &.hospitalisation {
      border-color: $colorHospitalisation;
    }

    &.deaths {
      border-color: $colorDeaths;
    }
  }
  
  &:last-of-type {
    border-bottom: none;
  }
}

.statCategoryHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  width: 160px;
  flex-grow: 2;
}

.statCategoryName {
  @include fontHeading4;
}

.statUpdatedText {
  @include fontNote;
}