$colorForeground: #222222;
$colorForegroundSubtle: #888888;
$colorBackgroundSubtle: #F4F4F4;
$colorCases: #1573aa;
$colorAdmissions: #aa8a11;
$colorDeaths: #aa380d;
$colorHospitalisation: #6408aa;

$paddingDefault: 20px;

$marginDefault: 20px;
$gutterWidth: 40px;

$breakpointMobile: 479px;
$breakpointTablet: 1023px;