$colorLight: #FBFBFB;
$colorLight2: #bcd1de;
$colorMid: #004293;
$colorDark: #050d22;
$colorAccent: #B86A20;

$gutterWidth: 20px;
$maxContentWidth: 984px;
$footerHeight: 40px;
$headerHeight: 60px;

@mixin contentGutters() {
  margin: 0 20px;
  
  @media (min-width: $maxContentWidth + 2*$gutterWidth) {
    margin: auto;
    max-width: $maxContentWidth;
  }
}

@mixin _font($fontFamily: "Open Sans", $fontWeight: 400, $lineHeight: 1.5, $fontSize: 16px, $color: $colorDark) {
  font-family: $fontFamily, "sans-serif";
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-size: $fontSize;
  color: $color;
  text-decoration: none;
}

@mixin navLinkFont {
  @include _font($fontSize: 20px, $color: $colorLight);
}

@mixin subNavFont {
  @include _font($fontSize: 20px, $color: $colorDark, $fontWeight: 600);
  transition: all ease 0.2s;
  
  &:hover {
    color: $colorMid;
  }
}

@mixin logoFont {
  @include _font($fontSize: 20px, $color: $colorLight, $fontFamily: "Permanent Marker");
}

@mixin bodyFont {
  @include _font($color: $colorLight);
}

@mixin linkFont {
  @include bodyFont;
  color: $colorLight2;
  
  &:hover {
    text-decoration: underline;
  }
}