$colorExtraLight: #FFFFFF;
$colorLight: #FBFBFB;
$colorLight2: #bcd1de;
$colorMid: #004293;
$colorDark: #050d22;
$colorAccent: #B86A20;

$gutterWidth: 40px;
$maxContentWidth: 984px;
$footerHeight: 40px;
$headerHeight: 60px;
$cardMargin: 20px; 
$statMargin: 10px;
$cardPadding: 20px;

@mixin contentGutters() {
  margin: 0 $gutterWidth;
  
  @media (min-width: $maxContentWidth + 2*$gutterWidth) {
    margin: auto;
    max-width: $maxContentWidth;
  }
}

@mixin _font($fontFamily: "Open Sans", $fontWeight: 400, $lineHeight: 1.5, $fontSize: 16px, $color: $colorDark) {
  font-family: $fontFamily, "sans-serif";
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-size: $fontSize;
  color: $color;
  text-decoration: none;
}

@mixin navLinkFont {
  @include _font($fontSize: 20px, $color: $colorLight);
}

@mixin subNavFont {
  @include _font($fontSize: 20px, $color: $colorDark, $fontWeight: 600);
  transition: all ease 0.2s;
  
  &:hover {
    color: $colorMid;
  }
}

@mixin logoFont {
  @include _font($fontSize: 20px, $color: $colorLight, $fontFamily: "Permanent Marker");
}

@mixin bodyFont($color: $colorDark) {
  @include _font($color: $color);
}

@mixin linkFont {
  @include bodyFont($colorLight2);
  
  &:hover {
    text-decoration: underline;
  }
}

@mixin cardTitleFont {
  @include _font($fontSize: 32px)
}

@mixin titleFont {
  @include _font($fontSize: 44px);
  text-transform: capitalize;
}

@mixin statLabelFont {
  @include _font($fontSize: 16px, $fontFamily: "Open Sans Condensed", $lineHeight: 1);
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

@mixin statNameFont {
  @include _font($fontSize: 12px, $fontFamily: "Open Sans Condensed", $lineHeight: 1);
  text-transform: uppercase;
}

@mixin statLastUpdatedFont {
  @include _font($fontSize: 12px, $fontFamily: "Open Sans Condensed", $lineHeight: 1);
  text-transform: uppercase;
}

@mixin statValueFont {
  @include _font($fontSize: 32px, $lineHeight: 1);

}

@mixin shadow {
  box-shadow: 2px 2px 10px #AAAAAA;
}

@mixin card {
  @include shadow;
  background: $colorExtraLight;
  margin: $cardMargin;
  padding: $cardPadding;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}