@import "../../styles/shared";

.card {
  @include shadow;
  background: $colorBackgroundSubtle;
  padding: $paddingDefault;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  flex-grow: 1;
  
  @media (max-width: $breakpointMobile) {
    border-radius: 0;
    box-shadow: none;
    margin: $marginDefault #{-10px};
  }
}

.cardTitle {
  @include fontHeading3;
}