@import "../../../styles/common";

.statContainer {
  display: flex;
  flex-direction: row;
}

.statRow {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.label {
  @include statLabelFont;
}