@import  "../../styles/common";

.header {
  background: $colorMid;
}

.nav {
  @include contentGutters;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  height: $headerHeight;
}

.navItem {
  @include navLinkFont;
  color: $colorLight;
  transition: all ease 0.4s;
  
  &:active {
    color: $colorMid;
  }
}

.logoLink {
  @include logoFont;
  color: $colorLight;
  transition: all ease 0.4s;
  
  display: flex;
  flex-direction: row;
  align-items: center;

  &:active {
    color: $colorMid;
  }
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchLabel {
  @include navLinkFont;
}

.input {
  @include navLinkFont;
  background: none;
  border: none;
  border-bottom: $colorLight solid 1px;
  margin-left: 20px;
  outline: none;
}

.searchButton {
  background: none;
  border: none;
}