@import "../../styles/common";

.card {
  @include card;
}

.header {
  @include cardTitleFont;
  margin-right: 40px;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  > * {
    margin-bottom: 20px;
  }
}

.controls {
  text-align: center;
}

.lastUpdated {
  @include bodyFont;
}

.figureContainer {
  display: flex;
  flex-direction: row;
  
  :first-child {
    margin-left: 0;
  }
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-left: 40px;
}

.label {
  @include statNameFont;
}

.value {
  @include statValueFont;
}